<div class="m-3">
  <div class="text-center">
    <h5>Cadastre-se <i class="bi bi-chat-dots"></i></h5>
  </div>
  <form #form="ngForm" [formGroup]="signupForm" class="form mt-3" (submit)="signup()">
    <div class="input-field">
      <input id="username" type="text" class="validate" formControlName="username" (keyup)="debounce.next($event.target.value)">
      <label for="username">Usuário de Acesso</label>
      <validation-message
        *ngIf="signupForm.get('username').errors?.required && (form.submitted || signupForm.get('username').touched)"
        text="O preenchimento do campo Usuário de acesso é obrigatório.">
      </validation-message>
      <validation-message
        *ngIf="(userExists$ | async)?.data"
        text="Este usuário de acesso já está em uso. Tente outro.">
      </validation-message>
    </div>
    <div class="input-field">
      <input id="fullName" type="text" class="validate" formControlName="fullName">
      <label for="fullName">Nome Completo</label>
      <validation-message
        *ngIf="signupForm.get('fullName').errors?.required && (form.submitted || signupForm.get('fullName').touched)"
        text="O preenchimento do campo Nome completo é obrigatório.">
      </validation-message>
    </div>
    <div class="input-field">
      <input id="email" type="email" class="validate" formControlName="email">
      <label for="email">E-mail</label>
      <validation-message
        *ngIf="signupForm.get('email').errors?.required && (form.submitted || signupForm.get('email').touched)"
        text="O preenchimento do campo E-mail é obrigatório.">
      </validation-message>
      <validation-message
        *ngIf="signupForm.get('email').errors?.email && (form.submitted || signupForm.get('email').touched)"
        text="O E-mail inserido é inválido.">
      </validation-message>
    </div>
    <div class="input-field">
      <input id="dateBirth" type="date" class="validate" formControlName="dateBirth">
      <label for="dateBirth">Data de Nascimento</label>
      <validation-message
        *ngIf="signupForm.get('dateBirth').errors?.required && (form.submitted || signupForm.get('dateBirth').touched)"
        text="O preenchimento do campo Data de nascimento é obrigatório.">
      </validation-message>
    </div>

    <button class="waves-effect waves-light btn-small w-100 mb-0-2">Cadastrar</button>
    <small class="text-muted">Já possui um usuário? <u (click)="navigateTo('signin')">Clique aqui.</u></small>
  </form>

</div>
