/* You can add global styles to this file, and also import other style files */

body {
  background-color: #131c21;
}

span, p, h5, small, input, textarea {
  color: white;
}

/* Margin */
.m-0 {
  margin: 0rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-0-3 {
  margin-top: 0.3rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-1-5 {
  margin-top: 1.5rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-0-2 {
  margin-top: 0.2rem !important;
}

.mt-0-3 {
  margin-top: 0.3rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.mb-0-2 {
  margin-bottom: 0.2rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

/* Padding */
.p-0 {
  padding: 0rem !important;
}

.p-1 {
  padding: 1rem;
}
.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-1-5 {
  padding-bottom: 1.5rem;
}

/* Display */
.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

/* Font size */
.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.w-100 {
  width: 100%;
}

/* Text */
.text-bold {
  font-weight: bold;
}

.align-items-start {
  align-items: flex-start !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.text-danger {
  color: red;
}

.text-center {
  text-align: center;
}

hr {
  opacity: 10%;
  margin: 0px !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.float-right {
  float: right;
}

.lh-1 {
  line-height: 1;
}

.bg-gray {
  background-color: #1e2428;
}

.c-white {
  color: white;
}

.input-field > label {
  left: 0 !important;
}
