<div class="m-1">
  <div class="mr-1">
    <span class="material-icons fs-32 prefix">account_circle</span>
  </div>
  <div class="col s12">
    <div class="d-flex align-items-start">
      <div class="d-flex flex-column flex-grow-1">
        <span class="text-bold">{{summary.fullName}}</span>
      </div>
      <div>
        <small>{{summary.sendDate | date: 'dd/MM/yyyy'}}</small>
      </div>
    </div>
    <div class="col s12">
      <span class="ellipsis">{{summary.messageSent}}</span>
    </div>
  </div>
</div>
