<div class="row mb-0">
  <div class="col s12 text-center fs-16 mt-1">
    <span>
      Chat
    </span>
  </div>
  <form [formGroup]="searchGroup">
    <div class="row mb-0">
      <div class="input-field col s12">
        <span class="material-icons md-18 prefix">search</span>
        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">Pesquisar...</label>
      </div>
    </div>
  </form>
</div>
<hr>
<div class="m-1 message-summary">
  <div class="mr-1">
    <span class="material-icons fs-32 prefix">account_circle</span>
  </div>
  <div class="col s12">
    <div class="d-flex align-items-start">
      <div class="d-flex flex-column flex-grow-1">
        <span class="text-bold">Daniel Irmão</span>
      </div>
      <div>
        <small>19/05/2021</small>
      </div>
    </div>
    <div class="col s12">
      <small class="ellipsis">Se for front-end seria javascript, html e css. dps vc pode estudar também back-end, eu trabalho com c#</small>
    </div>
  </div>
</div>
<div class="m-1">
  <div class="mr-1">
    <span class="material-icons fs-32 prefix">account_circle</span>
  </div>
  <div class="col s12">
    <div class="d-flex align-items-start">
      <div class="d-flex flex-column flex-grow-1">
        <span class="text-bold">Daniel Irmão</span>
      </div>
      <div>
        <small>19/05/2021</small>
      </div>
    </div>
    <div class="col s12">
      <small class="ellipsis">Se for front-end seria javascript, html e css. dps vc pode estudar também back-end, eu trabalho com c#</small>
    </div>
  </div>
</div>
<div class="m-1">
  <div class="mr-1">
    <span class="material-icons fs-32 prefix">account_circle</span>
  </div>
  <div class="col s12">
    <div class="d-flex align-items-start">
      <div class="d-flex flex-column flex-grow-1">
        <span class="text-bold">Daniel Irmão</span>
      </div>
      <div>
        <small>19/05/2021</small>
      </div>
    </div>
    <div class="col s12">
      <small class="ellipsis">Se for front-end seria javascript, html e css. dps vc pode estudar também back-end, eu trabalho com c#</small>
    </div>
  </div>
</div>
<div class="position-btn-floating">
  <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">chat</i></a>
</div>
