<div class="bg-gray">
  <div class="row mb-0 mr-1 ml-1">
    <div class="d-flex align-items-start fs-16 mb-1">
      <div class="d-flex flex-column flex-grow-1 mt-1-5">
        <span class="">Bem vindo, {{fullname}}.</span>
      </div>
      <div class="mt-1" (click)="logout()">
        <i class="bi bi-box-arrow-left c-white fs-24"></i>
      </div>
    </div>
    <form [formGroup]="searchGroup">
      <div class="row mb-0">
        <div class="input-field col s12 mt-0 p-0">
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Pesquisar...</label>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="mb-2" *ngFor="let messageSummary of messagesSummary; let i = index" (click)="openMessage(messagesSummary[i])">
  <message-summary [summary]="messageSummary"></message-summary>
</div>
<div class="position-btn-floating">
  <a class="btn-floating btn-large waves-effect waves-light" (click)="newMessage()"><i class="material-icons">chat</i></a>
</div>
