<div class="m-3">
  <div class="text-center">
    <h5>Cadastrar Senha <i class="bi bi-chat-dots"></i></h5>
  </div>
  <form #form="ngForm" [formGroup]="recoverPasswordFormGroup" class="form mt-3" (submit)="activate()">
    <div class="input-field">
      <input id="username" type="text" class="validate" formControlName="username" (keyup)="debounce.next($event.target.value)">
      <label for="username">Usuário de Acesso</label>
      <validation-message
        *ngIf="recoverPasswordFormGroup.get('username').errors?.required && (form.submitted || recoverPasswordFormGroup.get('username').touched)"
        text="O preenchimento do campo Usuário de acesso é obrigatório.">
      </validation-message>
      <validation-message
        *ngIf="!(userExists$ | async)?.data"
        text="O Usuário de acesso é inválido, tente novamente.">
      </validation-message>
    </div>
    <div class="input-field">
      <input id="password" type="password" class="validate" formControlName="password">
      <label for="password">Senha</label>
      <validation-message
        *ngIf="recoverPasswordFormGroup.get('password').errors?.required && (form.submitted || recoverPasswordFormGroup.get('password').touched)"
        text="O preenchimento do campo Senha é obrigatório.">
      </validation-message>
    </div>
    <div class="input-field">
      <input id="password" type="password" class="validate" formControlName="passwordConfirmation">
      <label for="password">Senha</label>
      <validation-message
        *ngIf="recoverPasswordFormGroup.get('passwordConfirmation').errors?.required && (form.submitted || recoverPasswordFormGroup.get('passwordConfirmation').touched)"
        text="O preenchimento do campo Confirme a senha é obrigatório.">
      </validation-message>
    </div>

    <button class="waves-effect waves-light btn-small w-100 mb-0-2">Cadastrar Senha</button>
    <small class="text-muted">Caso já tenha um usuário validado ou queira fazer login, <u (click)="navigateTo('signin')">clique aqui.</u></small>
  </form>

</div>
