<div class="m-5">
  <div class="text-center">
    <h4>Entre no Chat <i class="bi bi-chat-dots"></i></h4>
  </div>
  <form #form="ngForm" [formGroup]="signinForm" class="form mt-3" (submit)="login()">
    <div class="form-group mb-3">
      <input type="text" formControlName="username" class="form-control" placeholder="Usuário de acesso">
      <validation-message
        *ngIf="signinForm.get('username').errors?.required && (form.submitted || signinForm.get('username').touched)"
        text="O preenchimento do campo Usuário de acesso é obrigatório.">
      </validation-message>
    </div>
    <div class="form-group mb-3">
      <input type="text" formControlName="password" class="form-control" placeholder="Senha">
      <validation-message
        *ngIf="signinForm.get('password').errors?.required && (form.submitted || signinForm.get('password').touched)"
        text="O preenchimento do campo Senha é obrigatório.">
      </validation-message>
    </div>

    <button class="btn btn-primary btn-block w-100">Entrar</button>
    <small class="text-muted mt-1">Não possui um usuário? <u (click)="navigateTo('signup')">Clique aqui.</u></small>
  </form>

</div>
